<div class="row justify-content-center" style="margin-top: 50px;" >
<mdb-card class="w-5 mb-4"  style="min-height: 180px; margin-bottom: 50px; margin-right: 20px;">
    <mdb-card-body *ngIf="_data">
      <mdb-card-title>
          <div class="row justify-content-md-center" >
             <div class="col-md-12 justify-content-md-center"><span style="font-weight: bold;">Title:</span> {{_data[1]}} </div>
          </div>
      </mdb-card-title>
      <mdb-card-text>
        </mdb-card-text>
        <mdb-card-text>
            <div class="row justify-content-md-left" >
                <div class="col-md-10"><span style="font-weight: bold;">Artist:</span> {{_data[2]}} </div>
             </div>
            <div class="row justify-content-md-left mb-1" >
                <div class="col-md-10"><span style="font-weight: bold;">Genre:</span> {{_data[3]}} </div>
             </div>

             <div class="row justify-content-md-left" >
                <div class="col-md-10"><span style="font-weight: bold;">Tracks</span>  </div>
             </div>
          <ul class="list-group" >
              <li class="list-group-item"  *ngFor="let tracks of _data[0]">
                <span class="badge badge-pill badge-primary">{{tracks.order}}</span> -  {{tracks.text}}
              </li>
          </ul>
    </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
